.agency-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.agency-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.image-container {
    height: 200px;
    overflow: hidden;
}

.agency-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container {
    padding: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    margin-right: 5px;
}
